bcrypt==4.0.1
cryptography==41.0.4
jproperties==2.1.1
jsonschema==4.19.0
ops==2.7.0
overrides==7.4.0
parameterized==0.9.0
pydantic==2.4.2
pytest-mock==3.11.1
requests==2.31.0
ruamel.yaml==0.17.33
shortuuid==1.0.11
tenacity==8.2.3
urllib3==1.26.16