bcrypt==4.0.1
cryptography==39.0.2
jsonschema==4.17.3
ops==2.3.0
overrides==7.3.1
requests==2.31.0
ruamel.yaml==0.17.31
tenacity==8.2.2
urllib3==1.26.15
pytest-mock==3.11.1
parameterized==0.9.0
git+https://git.launchpad.net/python-jproperties@debian/main
