poetry
bcrypt==4.1.2
cosl==0.0.7
cryptography==42.0.1
jproperties==2.1.1
jsonschema==4.21.1
ops==2.9.0
overrides==7.6.0
parameterized==0.9.0
pydantic==1.10.14
pytest-mock==3.12.0
requests==2.31.0
ruamel.yaml==0.18.5
shortuuid==1.0.11
tenacity==8.2.3
urllib3==2.1.0
